<ng-include src="'partials/menu.html'"></ng-include>

<div class="container">
    <div class="row">
        <div class="span12">

            <ng-include src="'partials/navigation.html'"></ng-include>

            <legend>Matches</legend>

            <table id="table" class="table table-condensed">
                <thead>
                <tr>
                    <th>Players</th>
                    <th>Result</th>
                    <th>When</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="match in matches | orderBy:'time':'desc'">
                    <td>{{match.playerIds}}</td>
                    <td>{{match.score1}} {{match.score2}}</td>
                    <td>{{match.time | date:'short'}}</td>
                    <td><button class="btn" ng-click="delete(match.id)">delete</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-include src="'partials/footer.html'"></ng-include>
