<ng-include src="'partials/menu.html'"></ng-include>

<div class="container">
    <div class="row">
        <div class="span12">

            <div class="btn-group" style="margin-top: 10px;">
                <button class="btn tournamentbuttonid" ng-click="show('/tournaments')">Tournaments</button>
                <button class="btn opponentbuttonid" ng-click="show('/opponents')">Opponents</button>
            </div>

            <legend>Tournament Ranking Chart</legend>

            <div tournamentchart></div>

        </div>
    </div>
</div>

<ng-include src="'partials/footer.html'"></ng-include>
