<ng-include src="'partials/menu.html'"></ng-include>

<div class="container">
    <div class="row">
        <div class="span12">

            <ng-include src="'partials/alert.html'"></ng-include>

            <legend>Changelog</legend>

            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>Version</th>
                    <th>Changes</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>0.16</td>
                    <td>New client - made with AngularJS and Bootstrap.</td>
                </tr>
                <tr>
                    <td>0.15</td>
                    <td>field validation, minor bugfixes</td>
                </tr>
                <tr>
                    <td>0.14</td>
                    <td>UI update, minor bugfixes</td>
                </tr>
                <tr>
                    <td>0.13</td>
                    <td>Bugfix i oprettelse af performanceturnering</td>
                </tr>
                <tr>
                    <td>0.12</td>
                    <td>Bugfix i brugeroprettelsen. QRCode tilføjet, bugfix i turneringsafslut</td>
                </tr>
                <tr>
                    <td>0.11</td>
                    <td>Ny UI til oprettelse af kampe - skulle gerne gøre indtastning via mobil meget lettere.</td>
                </tr>
                <tr>
                    <td>0.10</td>
                    <td>Kører nu på GAE.</td>
                </tr>
                <tr>
                    <td>0.9</td>
                    <td>Stor omstrukturering. Systemet er nu mere spillerorienteret. Nu logger man ind via brugernavn.
                        Ens password er det samme som det ligaens var før. En bruger kan nu tilføje modstandere og
                        oprette turneringer samt kampe.
                        For at komme med i turneringen skal man spille mod en spiller i turneringen og registrere kampen
                        på turneringen.
                        Der er 2 typer turneringer - ranking og performance - i ranking starter alle med en rating på
                        1000 og vinderen
                        er den med højeste ranking. i performance medregnes spillernes personlige rating - og vinderen
                        er den der har
                        "performet" bedst. Dvs. har spillet bedst ifht. forventet.
                    </td>
                </tr>
                <tr>
                    <td>0.8</td>
                    <td>Gui oprydning.</td>
                </tr>
                <tr>
                    <td>0.7</td>
                    <td>Tilføjet csv udtræk af kampe med spiller rating.</td>
                </tr>
                <tr>
                    <td>0.6</td>
                    <td>Tilføjet startrating i liga oprettelse.</td>
                </tr>
                <tr>
                    <td>0.5</td>
                    <td>Nu med lidt statistik.</td>
                </tr>
                <tr>
                    <td>0.4</td>
                    <td>Fjernet inaktive spillere fra chart og ranking. Encoding bug fixet. Ny ui til oprettelse af
                        kamp. Nye url'er desværre!
                    </td>
                </tr>
                <tr>
                    <td>0.3</td>
                    <td>Opstilling feature. Genererer tilfældige 2vs2 hold. Nu kan man også slette en kamp.</td>
                </tr>
                <tr>
                    <td>0.2</td>
                    <td>Nu med turneringer. En turnering kan oprettes og afsluttes. kampe der bliver spillet indenfor
                        tidsrummet af
                        turneringen tæller med i turneringens rating. Ens rank i turneringen beregnes pga. ens rating i
                        ligaen - dvs. i en turnering
                        starter alle spillere på 1000 men ens ændring i rating baseres på ens globale rank
                    </td>
                </tr>
                <tr>
                    <td>0.1</td>
                    <td>Forbedret graf i svg. Tilføjet changelog og email.</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<ng-include src="'partials/footer.html'"></ng-include>