<header class="jumbotron subhead" id="overview">
    <div class="container">
        <h1>Foosball Ranker</h1>
        <p class="lead">Register your foosball matches - compare your ranking with your friends!</p>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="span12">
            <legend>Please login</legend>
            <div class="control-group">
                <div class="controls">
                    <button class="btn btn-primary" ng-click="gotoView('/opponents')">Login via Google</button>
                </div>
            </div>
            <hr class="bs-docs-separator">
            <div>Spread the word!</div>
            <div><img src="img/barcode.png"/></div>
            <div>Let your friends scan the code</div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>Developed by <a href="http://lakeside.dk">Lakeside A/S</a></p>
        <p>Code licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a></p>
        <p><a href="http://glyphicons.com">Glyphicons Free</a> licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
        <ul class="footer-links">
            <li><a href="http://blog.getbootstrap.com">Blog</a></li>
            <li class="muted">·</li>
            <li><a href="https://github.com/twitter/bootstrap/issues?state=open">Issues</a></li>
            <li class="muted">·</li>
            <li><a href="https://github.com/twitter/bootstrap/wiki">Roadmap and changelog</a></li>
        </ul>
    </div>
</footer>
