<header class="jumbotron subhead" id="overview">
    <div class="container">
        <h1>Foosball Ranker</h1>
        <p class="lead">Register your foosball matches - compare your ranking with your friends!</p>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="span12">
            <legend>Please login</legend>
            <div class="control-group">
                <div class="controls">
                    <button class="btn btn-primary" ng-click="show('/opponents')">Login via Google</button>
                </div>
            </div>
            <hr class="bs-docs-separator">
            <div>Spread the word!</div>
            <div><img src="img/barcode.png"/></div>
            <div>Let your friends scan the code</div>
        </div>
    </div>
</div>
<ng-include src="'partials/footer.html'"></ng-include>
