<div class="btn-toolbar">
    <navigation-radio class="btn-group" data-toggle="buttons-radio"
                   model='navigationLevelOneSelected'
                   options='navigationLevelOne'
                   links='navigationLinksLevelOne'>
    </navigation-radio>

    <div style="display: inline" ng-switch on="loading">
        <img  ng-switch-when="true" src="images/ajax-loader.gif" style="padding-left: 11px"/>
    </div>
</div>
<div class="btn-toolbar">
    <subnavigation-radio class="btn-group" data-toggle="buttons-radio"
                   model='navigationLevelTwoSelected'
                   options='navigationLevelTwo'
                   links='navigationLinksLevelTwo'
                   show='navigationLevelTwoShow'>
    </subnavigation-radio>
</div>
