<ng-include src="'partials/menu.html'"></ng-include>
<ng-include src="'partials/topbanner.html'"></ng-include>

<div class="container">
    <div class="row">
        <div class="span12">

            <ng-include src="'partials/alert.html'"></ng-include>
            <ng-include src="'partials/navigation.html'"></ng-include>

            <legend>Ranking of opponents</legend>

            <table id="table" class="table table-condensed">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Rating</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="opponent in opponents | orderBy:'rating':'desc'"><td>{{$index+1}}</td><td>{{opponent.name}}</td><td>{{opponent.id}}</td><td>{{opponent.rating}}</td></tr>
                </tbody>
            </table>

            <fieldset>
                <div class="control-group">
                    <legend>Link to opponent</legend>
                    <label class="control-label" for="id_username">Username</label>
                    <div class="controls">
                        <input ng-model="userId" name="username" maxlength="100" placeholder="Enter opponents username..." type="text" class="input-large" id="id_username" />
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button id="id_linkaccount" class="btn btn-primary" ng-click="linkOpponent()">Link</button>
                    </div>
                </div>
            </fieldset>

<!-- TODO
            <fieldset>
                <div class="control-group">
                    <legend>Add opponent without account</legend>
                    <label class="control-label" for="id_username">Name</label>
                    <div class="controls">
                        <input name="name" maxlength="100" placeholder="Enter opponents name..." type="text" class="input-large" id="id_name" />
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button class="btn btn-primary" ng-click="addOpponent()">Add</button>
                    </div>
                </div>
            </fieldset>
-->
        </div>
    </div>
</div>

<ng-include src="'partials/footer.html'"></ng-include>
